<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mssqlserver" connectionString="Data Source=.;Initial Catalog=MyTaskManager;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <!--节点端口，同一ip下开多个节点 需要更换不同端口-->
    <add key="Port" value="9001"/>
    <!--任务插件根目录-->
    <add key="PluginDir" value="Plugin"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>