<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--主机地址-->
    <add key="Address" value="127.0.0.1"/>
    <add key="Port" value="9000"/>
    <!--web平台地址-->
    <add key="WebManager" value="http://localhost:9999"/>
    <!--任务插件根目录-->
    <add key="PluginDir" value="Plugin"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>