<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mssqlserver" connectionString="Data Source=.;Initial Catalog=MyTaskManager;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <!--NodeID 需要唯一-->
    <add key="NodeID" value="node1"/>
    <!--Node端口 在同一个机器上部署多个node需要绑定不同端口-->
    <add key="NodePort" value="9001"/>
    <!--Consul地址  格式：IP:Port -->
    <add key="ConsulUrl" value="127.0.0.1:8500"/>
    <!--任务插件根目录-->
    <add key="PluginDir" value="Plugin"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>