@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>节点列表</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h4>节点管理 <small>所有连接到HostServer的节点</small></h4>
                    </div>
                    <div class="ibox-content">
                        <table id="nodelistTable" data-toggle="table"
                               data-url="/api/nodelist"
                               data-search="true"
                               data-show-refresh="true">
                            <thead>
                                <tr>
                                    <th data-field="index">#</th>
                                    <th data-field="node">节点</th>
                                    <th data-field="action" data-formatter="actionFormatter">操作</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="~/content/js/jquery-2.2.3.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/bootstrap-table.min.js"></script>
    <script src="~/content/js/bootstrap-table-zh-cn.min.js"></script>
    <script>
        function actionFormatter(value, row, index) {
            return [
                '<button type="button" class="btn btn-warning btn-sm">查看日志</button>'
            ].join('');
        }
    </script>
</body>

</html>
