
@{
    ViewBag.Title = "系统日志";
    Layout = "~/Views/_MainLayoutPage.cshtml";
}

@section headscript{
    <link href="~/content/css/bootstrap-table.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h4>系统日志<small></small></h4>
            </div>
            <div class="ibox-content">
                <table id="syslogTable"></table>
            </div>
        </div>
    </div>
</div>
@section footscript{
    <script src="~/content/js/bootstrap-table.min.js"></script>
    <script src="~/content/js/bootstrap-table-zh-cn.min.js"></script>
<script>
        $(function () {
            $('#syslogTable').bootstrapTable({
                url: "/LogCenter/GetSystemLog",
                pagination: true, //分页
                singleSelect: false,
                search: false, //显示搜索框
                sidePagination: "server", //服务端处理分页
                sortOrder: "desc",
                pageSize: 15,
                pageNumber: 1,
                detailView: true,
                showRefresh: true,
                detailFormatter: detailformatter,
                columns: [
                        {
                            title: 'Time',
                            field: 'Time',
                            align: 'left',
                            width: '15%'
                        },
                        {
                            title: 'Message',
                            field: 'Msg',
                            align: 'left'
                        }
                ]
            });
        });
        function detailformatter(index, row) {
            return '<div class=list-group><a href="javascript:;" class="list-group-item list-group-item-danger">ID：' + row.Id + '</a><a href="javascript:;" class="list-group-item list-group-item-danger">Time：' + row.Time + '</a><a href="javascript:;" class="list-group-item list-group-item-danger">Message：' + row.Msg + '</a><a href="javascript:;" class="list-group-item list-group-item-danger"><h4 class=list-group-item-heading>Exception：</h4><p class=list-group-item-text>' + row.Exception + '</p></a></div>';
        }
</script>
}