@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>调度计划</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
    <style>
        .detail-view td:hover {
            background-color: #fff !important;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h4>调度计划</h4>
                    </div>
                    <div class="ibox-content">
                        <div class="btn-group toolbar">
                        </div>
                        <table id="joblistTable"></table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="~/content/js/jquery-2.2.3.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/bootstrap-table.min.js"></script>
    <script src="~/content/js/bootstrap-table-zh-cn.min.js"></script>
    <script>
        $(function () {
            $('#joblistTable').bootstrapTable({
                url: "/api/joblist",
                toolbar: '.toolbar',
                pagination: true, //分页
                singleSelect: false,
                sidePagination: "server", //服务端处理分页
                sortOrder: "desc",
                pageSize: 20,
                pageNumber: 1,
                detailView: true,
                showRefresh: true,
                detailFormatter: detailformatter,
                columns: [
                        {
                            title: 'Job',
                            field: 'name',
                            align: 'left'
                        },
                        {
                            title: '所在节点',
                            field: 'nodeId',
                            align: 'left'
                        },
                        {
                            title: 'Cron表达式',
                            field: 'cron',
                            align: 'left'
                        },
                        {
                            title: 'Cron说明',
                            field: 'cronRemark',
                            align: 'left'
                        },
                        {
                            title: '执行任务',
                            field: 'taskName',
                            align: 'left'
                        },
                        {
                            title: '状态',
                            field: 'status',
                            align: 'left'
                        },
                        {
                            title: '创建时间',
                            field: 'createOn',
                            align: 'left'
                        },
                        {
                            title: '操作',
                            align: 'left',
                            formatter: function () {
                                return [
                   '<button type="button" class="btn btn-success btn-sm">暂停</button>&nbsp;<button type="button" class="btn btn-primary btn-sm">恢复</button>&nbsp;<button type="button" class="btn btn-danger btn-sm">删除</button>'
                                ].join('');
                            }
                        }
                ]
            });
        });
        function detailformatter(index, row) {
            return '<div class=list-group><a href="javascript:;" class="list-group-item list-group-item-danger">JobID：' + row.id + '</a><a href="javascript:;" class="list-group-item list-group-item-danger">TaskID：' + row.taskId + '</a><a href="javascript:;" class="list-group-item list-group-item-danger">说明：' + row.taskRemark + '</a><a href="javascript:;" class="list-group-item list-group-item-danger">版本：' + row.taskVerson + '</a><a href="javascript:;" class="list-group-item list-group-item-danger">参数：' + row.param + '</a><a href="javascript:;" class="list-group-item list-group-item-danger"><h4 class=list-group-item-heading>参数说明：</h4><p class=list-group-item-text>' + row.taskTaskParamRemark + '</p></a></div>';
        }
    </script>
</body>

</html>
