@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>任务管理</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
</head>

<body class="gray-bg">
    <h2>任务管理</h2>

    <script src="~/content/js/jquery-2.2.3.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/bootstrap-table.min.js"></script>
    <script src="~/content/js/bootstrap-table-zh-cn.min.js"></script>
</body>

</html>
